[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
flask = "*"
fpdf = "*"
pylint = "*"
awsebcli = "*"

[requires]
python_version = "3.6"
